<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="'Обновить пароль ' + ${username}"></title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/military-dep-logo.png}">
</head>
<body>
<div>
    <center>
        <h1>Обновить пароль</h1><br>
        <form method="post" th:action="@{'/admin/manage/password/' + ${username}}">
          <p th:text="'Логин:' + ${username}"></p>
          <label>Пароль: </label>
          <input type="password" th:name="password"><br><br>
          <input type="submit" value="Обновить"><br>
        </form>
        <a th:href="@{/admin/manage/admins}">Назад</a>
    </center>
</div>
</body>
</html>