<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заметки Военной Кафедры AITU</title>
        <link rel="stylesheet" th:href="@{/style/styles.css}">
    </head>
    <body>
        <nav class="navbar">
            <img th:src="@{img/aitu-logo.png}" alt="">
            <img th:src="@{/img/vsrk.png}" alt="">
            <img th:src="@{/img/military-dep-logo.png}" alt="">
        </nav>
        <section class="add-lecture container">
            <a th:href="@{/notes}">Назад</a><br>
            <h1>Добавить</h1>
            <form method="post" th:action="@{/add}" enctype="multipart/form-data">
                <p>Тема</p>
                <input type="text" th:name="title" placeholder="Наименование темы" required><br>
                <p>Описание</p>
                <textarea placeholder="Описание темы или задания" th:name="content" required></textarea>
                <br>
                <p>Файлы</p>
                <input type="file" th:name="files" class="file" max="5" multiple>
                <br>
                <input type="submit" value="Добавить"><br>
            </form>
        </section>
    </body>
</html>