<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заметки Военной Кафедры AITU</title>
        <link rel="stylesheet" th:href="@{/style/styles.css}">
        <link rel="icon" type="image/x-icon" th:href="@{/img/military-dep-logo.png}">
    </head>
    <body>
        <nav class="navbar">
            <img th:src="@{/img/aitu-logo.png}" alt="">
            <img th:src="@{/img/military-dep-logo.png}" alt="">
        </nav>
        <section class="login">
            <div>
                <img src="../static/img/vsrk.png" alt="">
                <h1>Military Department <br> of AITU</h1>
                <form method="post" th:action="@{/login}">
                    <select th:name="groupname" id="group">
                        <option th:each="group:${groupnames}" th:text="${group}" th:value="${group}"></option>
                    </select><br>
                    <select th:name="role" id="role">
                        <option th:value="'STUDENTS'">Студент</option>
                        <option th:value="'TEACHERS'">Учитель</option>
                    </select><br>
                    <input id="password" min="6" minlength="6" max="20" maxlength="20" th:name="password" type="password" placeholder="Пароль..."><br>
                    <center>
                        <label><input type="checkbox" class="password-checkbox label-check" onclick="showPassword()"> Показать пароль</label><br><br>
                    </center>
                    <p class="message" th:text="${message}"></p>
                    <input class="button" type="submit" value="Войти">
                </form>
            </div>
        </section>
        <script>
            const input = document.getElementById("password")
            const btn = document.getElementsByClassName("button")

            const showPassword = () => {
                if (input.type === "password") {
                    input.type = "text";

                } else {
                    input.type = "password";

                }
            };

            if (input.value.length < 6 && input.value.length > 30) {
                btn.disabled = true
            } else {
                btn.disabled = false
            }

        </script>
    </body>
</html>