<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Заметки Военной Кафедры AITU</title>
        <link rel="stylesheet" href="style/styles.css">
    </head>
    <body>
        <nav class="navbar">
            <img src="img/aitu-logo.png" alt="">
            <img src="img/vsrk.png" alt="">
            <img src="img/military-dep-logo.png" alt="">
        </nav>
        <section class="admin-home container">
            <p>Взвод: [[ ${group.getGroupname()} ]]</p>
            <p th:if="${role} == 'STUDENTS'">Роль: Студент</p>
            <p th:if="${role} == 'TEACHERS'">Роль: Учитель</p>
            <a th:href="@{/logout}">Выйтти</a><br>
            <a th:href="@{/add}" th:if="${role} == 'TEACHERS'">
                <button class="button">Добавить</button>
            </a>
            <div class="cards" th:if="${size} > 0">
                <div class="card" th:each="note:${notes}">
                    <h1>[[ ${note.getTitle()} ]]</h1>
                    <p>[[ ${note.getContent()} ]]</p>
                    <div th:each="file : ${fileService.getFilesByNoteId(note.getId())}">
                        <a th:href="@{'/' + ${file.getName()} + '?id=' + ${file.getId()}}">[[ ${file.getName()} ]]</a><br>
                    </div>
                    <br>
                    <a th:href="@{'/delete?id=' + ${note.getId()}}" th:if="${role} == 'TEACHERS'"><img src="img/logo/trash-svgrepo-com.png" alt=""></a>
                </div>
            </div>
            <div class="cards" th:if="${size} == 0">
                <center>
                    <h1>Заметок не имеется!</h1>
                </center>
            </div>
        </section>
    </body>
</html>